<p id="notice"><%= notice %></p>

<h1>
  Comments
</h1>

<table class='table table-hover table-striped table-bordered'>
  <thead>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Body</th>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= truncate(comment.article&.title, length: 40) %></td>
        <td><%= truncate(comment.body, length: 80) %></td>
        <td><%= comment.user %></td>
        <td><%= comment.created_at.strftime('%Y-%m-%d') %></td>
        <td>
          <div class='float-right'>
            <%= link_to 'Show', comment, class: 'btn btn-outline-info' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav aria-label="pagination">
  <%= paginate @comments %>
</nav>
