<div class="col-12 alert alert-light">
  <%= form_tag search_path, method: 'get', role: 'search' do %>
    <div class="input-group">
      <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...' %>
    </div>

    <div id="form-options" class="clearfix">
      <div class="btn-group pull-left">
        <label class="checkbox-inline">
          <%= check_box_tag 'comments', 'y', params[:comments] == 'y', onclick: "$(this).closest('form').submit()" %>
          Search in comments?
        </label>
        <% params.slice(:a, :c, :s).each do |name, value| %>
          <%= hidden_field_tag name, value %>
        <% end %>
      </div>

      <div class="btn-group float-right">
        <div class="btn-group" role="group" aria-label="Orders">
          <button class="btn btn-outline-info">
            Displaying <%= (params[:page] || 1).to_i.ordinalize %> page with <%= @articles.size %> articles of <strong>total <%= @articles.total %></strong>
          </button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><%= link_to "Published On", search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(s: 'published_on')), class: 'dropdown-item' %></li>
              <li><%= link_to "Relevancy", search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(s: nil)), class: 'dropdown-item' unless params[:q].blank?  %></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
</div>

<div class="row">
  <div class="col-3">
    <% if @articles.size < 1 && @articles.response.suggestions.present? %>
    <div class="col-12">
      <p class="alert alert-info">
        No documents have been found.
        <% if @articles.response.suggestions['suggest_title'].present? || @articles.response.suggestions['suggest_body'].present? %>
          Maybe you mean
          <%= @articles.response.suggestions.map { |k,v| v.first['options'] }.flatten.map {|v| v['text']}.uniq.map do |term|
            link_to term, search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge q: term)
          end.to_sentence(last_word_connector: ' or ').html_safe %>?
        <% end %>
      </p>
    </div>
    <% end %>

    <div id="facets">
      <% unless @articles.size < 1 %>

        <div class="categories panel panel-default">
          <p class="alert alert-info">
            <%= link_to 'All Sections &rarr;'.html_safe, search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(c: nil))%>
          </p>

          <div class="list-group">
            <% @articles.response.response['aggregations']['categories']['categories']['buckets'].each do |c| %>
            <%=
              link_to search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(c: c['key'])),
                      class: "list-group-item#{' active' if params[:c] == c['key']}" do
                        c['key'].titleize.html_safe + content_tag(:small, c['doc_count'], class: 'badge').html_safe
              end
            %>
            <% end %>
          </div>
        </div>

        <div class="authors panel panel-default">
          <p class="alert alert-info">
            <%= link_to 'All Authors &rarr;'.html_safe, search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(a: nil))%>
          </p>

          <div class="list-group">
            <% @articles.response.response['aggregations']['authors']['authors']['buckets'].each do |a| %>
            <%=
              link_to search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(a: a['key'])),
                      class: "list-group-item#{' active' if params[:a] == a['key']}" do
                        a['key'].titleize.html_safe + content_tag(:small, a['doc_count'], class: 'badge').html_safe
              end
            %>
            <% end %>
          </div>
        </div>

        <div class="authors panel panel-default">
          <p class="alert alert-info">
            <%= link_to 'Any Date &rarr;'.html_safe, search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(w: nil))%>
          </p>

          <div class="list-group">
            <% @articles.response.response['aggregations']['published']['published']['buckets'].each do |w| %>
            <%=
              __start = Time.at(w['key']/1000)
              __end   = __start.end_of_week
              __date  = __start.to_date.to_s(:iso)

              link_to search_path(params.permit(:q, :a, :c, :s, :w, :comments).merge(w: __date)),
                      class: "list-group-item#{' active' if params[:w] == __date}" do
                        "#{__start.to_date.to_s(:short)} &mdash; #{__end.to_date.to_s(:short)}".html_safe + \
                        content_tag(:small, w['doc_count'], class: 'badge').html_safe
              end
            %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-9">
    <div id="results">
      <% @articles.each do |article|  %>
        <div class="result">
          <h3 class="title">
            <%= link_to (article.try(:highlight).try(:title) ? article.highlight.title.join.html_safe : article.title), article_path(article) %>
          </h3>

          <p class="body">
            <% if article.try(:highlight).try(:abstract) %>
              <%= article.highlight.abstract.join.html_safe %>
            <% else  %>
              <%= article.try(:highlight).try(:content) ? article.highlight.content.join('&hellip;').html_safe : article.abstract %>
            <% end  %>
          </p>

          <% if comments = article.try(:highlight) && article.highlight['comments.body'] %>
          <p class="comments">
            Comments: <%= comments.join('&hellip;').html_safe %>
          </p>
          <% end  %>

          <p class="text-muted">
            <small>Category: <%= article.categories.to_sentence %></small> |
            <small>Authors: <%= article.authors.map(&:full_name).to_sentence %></small> |
            <small>Published: <%= article.published_on %></small> |
            <small>Score: <%= article._score %></small>
          </p>
        </div>
      <% end %>
    </div>

    <br />

    <nav aria-label="pagination">
      <%= paginate @articles %>
    </nav>
  </div>
</div>
