<p id="notice"><%= notice %></p>

<h1>Authorships</h1>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Article</th>
      <th scope="col">Author</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @authorships.each do |authorship| %>
      <tr>
        <td><%= authorship.article.title %></td>
        <td><%= authorship.author.full_name %></td>
        <td>
          <div class='float-right'>
            <%= link_to 'Show', authorship, class: 'btn btn-outline-info' %>
            <%= link_to 'Destroy', authorship, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-info' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav aria-label="pagination">
  <%= paginate @authorships %>
</nav>
