<p id="notice"><%= notice %></p>

<div class="alert alert-dark">
  <div class='pull-right'>
    <%= link_to 'Edit', edit_authorship_path(@authorship) %> |
    <%= link_to 'Back', :back %>
  </div>
</div>

<div class="alert" role="alert">
  <h4 class="alert-heading"><%= @authorship.article.title %></h4>
  <p><%= @authorship.article.content %></p>
  <hr>
  <p class="mb-0">
    <strong>Published On: </strong>
    <%= @authorship.article.published_on %>
    <strong>Author: </strong>
    <%= @authorship.author.full_name %>
  </p>
</div>
