<p id="notice"><%= notice %></p>

<blockquote class="blockquote text-left">
  <p class="mb-0">
    <strong>First Name: </strong><%= @author.first_name %>
  </p>
  <p class="mb-0">
    <strong>Last Name: </strong><%= @author.last_name %>
  </p>
  <footer class="blockquote-footer">Last updated at <cite title="Category"><%= @author.updated_at.to_s %></cite></footer>
</blockquote>

<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-outline-info' %> |
<%= link_to 'Back', authors_path, class: 'btn btn-outline-info' %>
