<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% [:title].each do |field| %>
    <div class="form-group row">
      <%= form.label field, class: "col-sm-2 col-form-label text-right" %>
      <div class="col-sm-10">
        <% if category.class.columns_hash[field.to_s].type == :text %>
          <%= form.text_area :content, size: "90x10" %>
        <% elsif category.class.columns_hash[field.to_s].type == :date %>
          <%= form.date_select :published_on %>
        <% else %>
          <%= form.text_field field, class: 'col-sm-10' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= form.submit class: 'btn btn-outline-info' %>
    </div>
  </div>
<% end %>
