<p id="notice"><%= notice %></p>

<blockquote class="blockquote text-center">
  <p class="mb-0"><%= @category.title %></p>
  <footer class="blockquote-footer">Last updated at <cite title="Category"><%= @category.updated_at.to_s %></cite></footer>
</blockquote>

<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-outline-info' %> |
<%= link_to 'Back', categories_path, class: 'btn btn-outline-info' %>
