<div class='navbar-container container-fuild position-fixed'>
  <div class="navbar-dark container">
    <nav class='navbar navbar-expand-lg'>
      <a class="navbar-brand" href='/' style="letter-spacing: .3rem;text-transform: uppercase;">ELASTIC SEARCH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav" style="text-transform: uppercase;">
          <%= menu_item('articles') %>
          <%= menu_item('categories') %>
          <%= menu_item('authors') %>
          <%= menu_item('authorships') %>
          <%= menu_item('comments') %>
        </ul>
      </div>
    </nav>
  </div>
</div>
